*{
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}
body{
    align-content: center;
    align-items:center;
    background-color: #f7bfd8;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#titulo{
    color: #c93384;
    font-size: 10vw;
    font-family: "Oleo Script", system-ui;
    margin-top: 10vh;
}
#input-container{
    margin-top: 5vh;
    text-align: center;
}
#lb-peli{
    font-family: "Montserrat Alternates";
}

#btn-buscar{
    background-color: #c93384;
    border-radius: 10px;
    border-color: #c93384;
    color: white;
    padding: .5vw;
}
#respuesta{
    margin-top: 5vh;
    margin-bottom: 5vh;
    text-align: center;
}
#p-titulo{
    color: #c93384;
    font-family: "Montserrat Alternates";
    font-size: 5vw;
    text-align: center;
}
p{
    font-family: sans-serif;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 3vw;
    text-align: left;
}
.poster{
    border-radius: 10px;
    box-shadow: 3px 4px 10px rgba(255, 0, 140, 100);
}